header{
    color: yellow;
    background-color: blueviolet;
    
}

footer{
    color: greenyellow;
    background-color: blueviolet;

}

img{
    display:block;
    margin: 0 auto;
    width: 10%;
    height: 10%;
}